#Sale1{
    width: 573px;
    height: 600px;
    overflow: scroll;
    background-color: white;
}

#Sale1::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}


#Sale1>h3{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
}

#Sale1>div{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    padding-top: 50px;
}


#Sale1>div>figure{
    width: 52%;
    border: 1px solid rgb(134, 132, 132);
    box-sizing: border-box;
    text-align: center;
    margin: 0 0 1em;
    padding: 20px 10px 10px 10px;
    margin-bottom: 50px;
}


#Sale1>div>figure>img{
    width: 270px;
    height: 270px;
    margin-bottom: 10px;
}

#Sale1>div>figure>figcaption>dl>dt{
    margin-bottom: 10px;
}


#Sale1>div>figure>figcaption>dl>dd{
    margin-bottom: 10px;
}

#Sale1>div>figure>figcaption>dl>dd:nth-child(3)>ins{
    color: red;
}